annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
apparmor==4.1.7
argcomplete==3.7.0
attrs==26.1.0
autocommand==2.2.2
bcc==0.36.1
beautifulsoup4==4.15.0
Brotli==1.2.0
build==1.4.3
caelestia==1.0.9.dev9+g7f3006267
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.7
click==8.4.2
cryptography==49.0.0
curl_adapter==1.2.1
curl_cffi==0.15.0
dbus-python==1.4.0
dbus_next==0.2.3
distlib==0.4.3
distro==1.9.0
dnspython==2.8.0
evdev==1.9.3
eventlet==0.41.0
fastapi==0.141.1
filelock==3.29.3
gbinder-python==1.3.1
gevent==26.7.0
greenlet==3.5.1
h11==0.16.0
httptools==0.8.0
idna==3.18
inotify-simple==2.0.1
installer==1.0.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
joblib==1.5.3
legacy-cgi==2.6.4
LibAppArmor==4.1.7
libtorrent==2.1.0
libvirt-python==12.6.0
lit==22.1.8.dev0
loguru==0.7.3
louis==3.38.0
lxml==6.1.1
markdown-it-py==4.2.0
materialyoucolor==3.0.2
mdurl==0.1.2
mininet==2.3.1b4
moddb==0.15.0
more-itertools==11.1.0
narwhals==2.24.0
networkx==3.6.1
nftables==0.1
numpy==2.5.1
orjson==3.11.9
packaging==26.2
pandas==3.0.5
perf==0.1
pillow==12.3.0
pipx==1.15.0
pkg_resources==81.0.0
platformdirs==4.11.0
psutil==7.2.2
pybind11==3.0.4
pycairo==1.29.0
pycparser==3.0
pycurl==7.47.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
Pygments==2.20.0
PyGObject==3.56.3
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-discovery==1.5.1
python-dotenv==1.2.2
pyxdg==0.28
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
s-tui==1.4.0
scikit-learn==1.9.0
scipy==1.18.0
setproctitle==1.3.7
setuptools==83.0.0
six==1.17.0
smbus==1.1
soupsieve==2.9.1
starlette==1.3.1
TBB @ file:///build/onetbb/src/build/python/python_build
threadpoolctl==3.6.0
trash-cli==0.24.5.26
typing-inspection==0.4.2
typing_extensions==4.16.0
ufw==0.36.2
urllib3==2.7.0
urwid==4.0.8
userpath==1.9.2
uvicorn==0.52.1
uvloop==0.22.1
VapourSynth==77
virtualenv==21.7.1
watchfiles==1.2.0
wcwidth==0.8.2
websockets==17.0.1
wheel==0.47.0
zope.event==6.2
zope.interface==8.5
